@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

@include skel-breakpoints((
xlarge: '(max-width: 1680px)',
large: '(max-width: 1280px)',
medium: '(max-width: 980px)',
small: '(max-width: 736px)',
xsmall: '(max-width: 480px)'
));

@include skel-layout((
reset: 'full',
boxModel: 'border',
grid: ( gutters: 1em )
));

// Base.

@import 'base/page';
@import 'base/typography';

// Component.

@import 'components/blurb';
@import 'components/box';
@import 'components/button';
@import 'components/comments';
@import 'components/form';
@import 'components/image';
@import 'components/list';
@import 'components/mini-post';
@import 'components/post';
@import 'components/paper';
@import 'components/reading';
@import 'components/search';
@import 'components/section';
@import 'components/table';

// Layout.

@import 'layout/header';
@import 'layout/wrapper';
@import 'layout/main';
@import 'layout/sidebar';
@import 'layout/intro';
@import 'layout/footer';
@import 'layout/menu';
