<li class="pub-item">
    <div class="pub-title">{{ title | safe }}</div>
    <div class="pub-authors">{{ authors }}</div>
    {% if doi %}
    <div class="pub-details"><a href="http://doi.org/{{ doi }}"><span class="pub-journal">{{ journal }}</span> <span class="pub-vol">{{ vol }}</span> {{ pages | safe }} ({{ year }})</a></div>
    {% elif arxiv %}
   <div class="pub-details"><a href="http://arxiv.org/abs/{{ arxiv }}"><span class="pub-journal">arXiv</span> {{ arxiv }}</a> {% if accepted %}(Accepted at <i>{{ accepted }}</i>){% endif %}</div>
    {% elif thesis %}
    <div class="pub-details">{% if thesis=="phd" %}Doctor of Philosophy (Physics){% elif thesis=="honours" %}Bachelor of Science (Applied Sciences) (Honours){% elif thesis=="undergrad" %}Bachelor of Science (Physics){% endif %}, <span class="pub-journal">RMIT University</span> ({{ year }})</div>
    {% endif %}
    {% if thesis and thesis!="phd" %}
    <span class="pub-links">[<button id="{{ thesis }}a" class="abstractlink">Abstract</button>, <button id="{{ thesis }}p" class="abstractlink">PDF</button>]</span>
    <div id="{{ thesis }}pdf" class="abstract">{% if thesis=="honours" %}It's pretty terrible. Contact me directly if you really want me to send you a copy.{% elif thesis=="undergrad" %}No way{% endif %}</div>
    {% else %}
    <span class="pub-links">[<button id="{% if id %}{{ id }}{% else %}phda{% endif %}" class="abstractlink">Abstract</button>, <a href="{% if arxiv %}https://arxiv.org/pdf/{{ arxiv }}{% else %}{{ pdf_url }}{% endif %}">PDF</a>]</span>
    {% endif %}
    <div id="{% if doi %}{{ doi }}{% elif arxiv %}{{ arxiv }}{% elif thesis %}{{ thesis }}{% endif %}" class="abstract">{{ body | safe }}</div>
</li>
