<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="https://telegram.me/Libbum" title="Telegram"><i class="fao fa-lg fa-telegram-plane"></i></a></li>
        <li><a href="mailto:&#116;&#105;&#109;&#064;&#110;&#101;&#111;&#112;&#104;&#105;&#108;&#117;&#115;&#046;&#110;&#101;&#116;" title="Email"><i class="fao fa-lg fa-envelope"></i></a></li>
        <li><a href="https://www.github.com/Libbum" title="Github"><i class="fao fa-lg fa-github"></i></a></li>
        <li><a href="https://stackexchange.com/users/73872/geodesic?tab=accounts" title="Stack Exchange"><i class="fao fa-lg fa-stack-exchange"></i></a></li>
    </ul>
    <p class="copyright">&copy; 2013&mdash;2019 - Tim DuBois</p>
</section>
