<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="{{ config.description }}" />
<meta name="author" content="{{ config.extra.author.name }}" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2ebaae">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#646464">

<link href="/main.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700%7CRaleway:400,800,900" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.min.css" integrity="sha384-sWIpcFPnJFfPqQU7FWn8H9+Xax/h5ihI8hVjQTBa5WmUde6CZZLw9DUAaIyA6j5u" crossorigin="anonymous">
{% if page %}
<title>{{ page.title }} &ndash; {{ config.title }}</title>
{% else %}
<title>{{ config.title }}</title>
{% endif %}
{% if config.generate_rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
{% endif %}
<script defer src="/js/outlines.js"></script>
<script src="/js/icons.js" async></script>
