<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ config.description }}" />
<meta name="author" content="{{ config.extra.author.name }}" />
<link href="/main.css" rel="stylesheet" />
<title>{{ config.title }}</title>
{% if config.generate_rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
{% endif %}
<script defer src="/js/companies.js"></script>
<script defer src="/js/theme.js"></script>
<script src="/js/icons.js"></script>
