<!-- Header -->
<header id="header">
    <h1><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
    <nav class="links">
        <ul>
            <li><a href="{{ config.base_url }}">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/papers">Papers</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/atom.xml">Feed</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="menu">
                <a href="#menu" title="Menu">
                    <span class="wide"><i class="fao fa-lg fa-search"></i></span>
                    <span class="narrow"><i class="fao fa-lg fa-bars"></i></span>
                </a>
            </li>
        </ul>
    </nav>
</header>
