<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ config.description }}" />
<meta name="author" content="{{ config.extra.author.name }}" />
<link href="/main.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700%7CRaleway:400,800,900" />
<link rel="stylesheet" href="https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css" integrity="sha384-dBdms/umd+7PLYbMZaxliJiRqVwkY7YhJkECIoD/eGP2+ot4N+0Xcm7ucrlhedpJ" crossorigin="anonymous">
{% if page %}
<title>{{ page.title }} &ndash; {{ config.title }}</title>
{% else %}
<title>{{ config.title }}</title>
{% endif %}
{% if config.generate_rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
{% endif %}
<script defer src="/js/outlines.js"></script>
<script src="/js/icons.js" async></script>
