{% import "macros.html" as macros %}

<!DOCTYPE HTML>
<html>
    <head>
        {% include "head.html" %}
        {% for page in paginator.pages %}
            {% if page.extra.katex %}
                {% set_global load_katex = true %}
            {% endif %}
        {% endfor %}
        {% if load_katex %}
            {% include "katex.html" %}
        {% endif %}
    </head>
    <body>

        <!-- Wrapper -->
        <div id="wrapper">

            {% include "header.html" %}

            {% include "menu.html" %}

            <!-- Main -->
            <div id="main">

                <!-- Posts -->
                {% block content %}
                {% for page in paginator.pages %}
                <article class="post">
                    {{ macros::title(page=page) }}
                    <a href="#" class="image featured"><img src="/images/pic01.jpg" alt="" /></a>
                    {{ page.summary | safe }}
                    <p>{{ page.tags }}</p>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ page.permalink }}" class="button big">Continue Reading</a></li>
                        </ul>
                        <ul class="stats">
                            <li><a href="#">{{ page.category }}</a></li>
                            <li><a href="#" class="icon fa-heart">28</a></li>
                            <li><a href="#" class="icon fa-comment">128</a></li>
                        </ul>
                    </footer>
                </article>
                {% endfor %}
                {% endblock content %}

                <!-- Pagination -->
                <ul class="actions pagination">
                    <li>
                        {% if paginator.previous %}
                        <a href="{{ paginator.previous }}" class="button big previous">Previous Page</a>
                        {% else %}
                        <a href="#" class="disabled button big previous">Previous Page</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if paginator.next %}
                        <a href="{{ paginator.next }}" class="button big next">Next Page</a>
                        {% else %}
                        <a href="#" class="disabled button big next">Next Page</a>
                        {% endif %}
                    </li>
                </ul>

            </div>

            <!-- Sidebar -->
            <section id="sidebar">

                <!-- Intro -->
                <section id="intro">
                    <img src="/icons/logo.svg" alt="Axiomatic Semantics" class="logo" />
                    <header>
                        <h2>{{ config.title }}</h2>
                        <p>{{ config.description }}</p>
                    </header>
                </section>

                <!-- Mini Posts -->
                <section>
                    <div class="mini-posts">

                        <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="#">Vitae sed condimentum</a></h3>
                                <time class="published" datetime="2015-10-20">October 20, 2015</time>
                                <a href="#" class="author"><img src="/images/avatar.jpg" alt="" /></a>
                            </header>
                            <a href="#" class="image"><img src="/images/pic04.jpg" alt="" /></a>
                        </article>

                        <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="#">Rutrum neque accumsan</a></h3>
                                <time class="published" datetime="2015-10-19">October 19, 2015</time>
                                <a href="#" class="author"><img src="/images/avatar.jpg" alt="" /></a>
                            </header>
                            <a href="#" class="image"><img src="/images/pic05.jpg" alt="" /></a>
                        </article>

                        <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="#">Odio congue mattis</a></h3>
                                <time class="published" datetime="2015-10-18">October 18, 2015</time>
                                <a href="#" class="author"><img src="/images/avatar.jpg" alt="" /></a>
                            </header>
                            <a href="#" class="image"><img src="/images/pic06.jpg" alt="" /></a>
                        </article>

                        <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="#">Enim nisl veroeros</a></h3>
                                <time class="published" datetime="2015-10-17">October 17, 2015</time>
                                <a href="#" class="author"><img src="/images/avatar.jpg" alt="" /></a>
                            </header>
                            <a href="#" class="image"><img src="/images/pic07.jpg" alt="" /></a>
                        </article>

                    </div>
                </section>

                <!-- Posts List -->
                <section>
                    <ul class="posts">
                        <li>
                            <article>
                                <header>
                                    <h3><a href="#">Lorem ipsum fermentum ut nisl vitae</a></h3>
                                    <time class="published" datetime="2015-10-20">October 20, 2015</time>
                                </header>
                                <a href="#" class="image"><img src="/images/pic08.jpg" alt="" /></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="#">Convallis maximus nisl mattis nunc id lorem</a></h3>
                                    <time class="published" datetime="2015-10-15">October 15, 2015</time>
                                </header>
                                <a href="#" class="image"><img src="/images/pic09.jpg" alt="" /></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="#">Euismod amet placerat vivamus porttitor</a></h3>
                                    <time class="published" datetime="2015-10-10">October 10, 2015</time>
                                </header>
                                <a href="#" class="image"><img src="/images/pic10.jpg" alt="" /></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="#">Magna enim accumsan tortor cursus ultricies</a></h3>
                                    <time class="published" datetime="2015-10-08">October 8, 2015</time>
                                </header>
                                <a href="#" class="image"><img src="/images/pic11.jpg" alt="" /></a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="#">Congue ullam corper lorem ipsum dolor</a></h3>
                                    <time class="published" datetime="2015-10-06">October 7, 2015</time>
                                </header>
                                <a href="#" class="image"><img src="/images/pic12.jpg" alt="" /></a>
                            </article>
                        </li>
                    </ul>
                </section>

                <!-- About -->
                <section class="blurb">
                    <h2>About</h2>
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
                    <ul class="actions">
                        <li><a href="#" class="button">Learn More</a></li>
                    </ul>
                </section>

                {% include "footer.html" %}

            </section>

        </div>

        {% include "js_body.html" %}
        {% if load_katex %}
        <script src="/js/math.js"></script>
        {% endif %}
    </body>
</html>
