{% import "macros.html" as macros %}

<!DOCTYPE HTML>
<html>
    <head>
        {% include "head.html" %}
        <meta property="og:url" content="https://axiomatic.neophilus.net/" />
        <meta property="og:image" content="https://axiomatic.neophilus.net/images/as-banner.jpg" />
        <meta property="og:image:width" content="1500" />
        <meta property="og:image:height" content="786" />
        <meta property="og:title" content="Axiomatic Semantics" />
        <meta property="og:site_name" content="Axiomatic Semantics" />
        <meta property="og:description" content="Brute force solutions with proofs by intimidation." />
        {% for page in paginator.pages %}
          {% if page.extra.katex %}
            {% set_global load_katex = true %}
          {% endif %}
        {% endfor %}
        {% if load_katex %}
          {% include "katex.html" %}
        {% endif %}
    </head>
    <body>

        <!-- Wrapper -->
        <div id="wrapper">

            {% include "header.html" %}

            {% include "menu.html" %}

            <!-- Main -->
            <div id="main">

                <!-- Posts -->
                {% block content %}
                {% for page in paginator.pages %}
                <article class="post">
                    {{ macros::title(page=page) }}
                    {% if page.extra.banner %}
                    <span class="image featured"><img src="/images/{{ page.extra.banner }}-banner.jpg" alt="Banner" /></span>
                    {% endif %}
                    {{ page.summary | safe }}
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ page.permalink }}" class="button big">Continue Reading</a></li>
                        </ul>
                        <ul class="stats">
                            {% for tag in page.tags %}
                            <li><a href="{{ get_taxonomy_url(kind="tag", name=tag) }}">{{ tag }}</a></li>
                            {% endfor %}
                            <li><a href="{{ page.permalink }}#isso-thread"><i class="fao fa-comments"></i> 0</a></li>
                        </ul>
                    </footer>
                </article>
                {% endfor %}
                {% endblock content %}

                <article class="post">
                    <div class="search-container">
                    <input id="search" type="search" placeholder="Search the docs">

                    <div class="search-results">
                        <div class="search-results__items"></div>
                    </div>
                </div>
                </article>
                <!-- Pagination -->
                <ul class="actions pagination">
                    <li>
                        {% if paginator.previous %}
                        <a href="{{ paginator.previous }}" class="button big"><i class="fao fa-chevron-double-left"></i> Newer Posts</a>
                        {% else %}
                        <a href="#" class="disabled button big">Latest Posts</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if paginator.next %}
                        <a href="{{ paginator.next }}" class="button big">Older Posts <i class="fao fa-chevron-double-right"></i></a>
                        {% else %}
                        <a href="#" class="disabled button big">Oldest Posts</a>
                        {% endif %}
                    </li>
                </ul>

            </div>

            <!-- Sidebar -->
            <section id="sidebar">

                <!-- Intro -->
                <section id="intro">
                    <img src="/images/logo.svg" alt="Axiomatic Semantics" class="logo" />
                    <header>
                        <h2>{{ config.title }}</h2>
                        <p>{{ config.description }}</p>
                    </header>
                </section>

                <!-- Mini Posts -->
                <section>
                    <div class="mini-posts">

                        <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="https://odyssey.neophilus.net">Odyssey</a></h3>
                                <span class="published">The world is a book and those who do not travel read only one page.</span>
                            </header>
                            <a href="https://odyssey.neophilus.net" class="image bg5"><img src="/images/odyssey.png" alt="Odyssey" /></a>
                        </article>

                        <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="https://www.neophilus.net/whispers">Whispers</a></h3>
                                <span class="published">The Enûma Eliš is one of the oldest creation myths that have survived into modern times.</span>
                            </header>
                            <a href="https://www.neophilus.net/whispers" class="image"><img src="/images/whispers.png" alt="Whispers" /></a>
                        </article>

                        <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="http://ft.nephy.chalmers.se/veritas/">Veritas</a></h3>
                                <span class="published">An efficient tool for continuum Vlasov-Maxwell simulations.</span>
                            </header>
                            <a href="http://ft.nephy.chalmers.se/veritas/" class="image bg4"><img src="/images/veritas.svg" class="svg" height="176px" alt="Veritas" /></a>
                        </article>

                        <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3><a href="http://wafer.tcqp.science">Wafer</a></h3>
                                <span class="published">3D, time-independent Schrödinger equation solver exploiting Wick-rotated, time-independent solutions.</span>
                            </header>
                            <a href="http://wafer.tcqp.science" class="image bg7"><img src="/images/wafer.png" alt="Wafer" /></a>
                        </article>

                    </div>
                </section>

                <!-- Posts List -->
                <section>
                    <ul class="posts">
                        <li>
                            {{ macros::github(repo="spherical-cow", blurb="A high volume fraction sphere packing library", thumb="cowhead") }}
                        </li>
                        <li>
                            {{ macros::github(repo="oration", blurb="A Rocket/Elm self hosted commenting system for static sites", thumb="oration") }}
                        </li>
                        <li>
                            {{ macros::github(repo="Planck-Libbum", blurb="Custom layout for the Planck mechanical keyboard", thumb="planck") }}
                        </li>
                        <li>
                            {{ macros::github(repo="ndarray-interp", blurb="Interpolation extensions for ndarray", thumb="pic11") }}
                        </li>
                        <li>
                            {{ macros::github(repo="vim-apoklinon", blurb="A dark 256 colour scheme for Vim", thumb="apoklinon") }}
                        </li>
                    </ul>
                </section>

                <!-- About -->
                <section class="blurb">
                    <h2>About The Author</h2>
                    <p>Tim DuBois is a computational physicist working at the Stockholm Resilience Centre in Stockholm, Sweden.</p>
                    <ul class="actions">
                        <li><a href="/about">Learn More</a></li>
                    </ul>
                </section>

                {% include "footer.html" %}

            </section>

        </div>

        <script data-isso="/isso" src="/isso/js/count.min.js" async></script>
        <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js", trailing_slash=false) }}"></script>
        <script type="text/javascript" src="{{ get_url(path="search_index.en.js", trailing_slash=false) }}"></script>
        <script type="text/javascript" src="{{ get_url(path="search.js", trailing_slash=false) }}"></script>
        <script src="/js/axiomatic.js"></script>
        {% if load_katex %}
        <script src="/js/math.js"></script>
        {% endif %}
    </body>
</html>
