<!-- Menu -->
<section id="menu">

    <!-- Search -->
    <section>
        <form class="search">
            <input type="text" id="searchmenu" placeholder="Search" />
        </form>
        <div class="search-results">
            <div class="search-results__items"></div>
        </div>
    </section>

    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <a href="{{ config.base_url }}">
                    <h3>Home</h3>
                </a>
            </li>
            <li>
                <a href="/about">
                    <h3>About</h3>
                </a>
            </li>
            <li>
                <a href="/papers">
                    <h3>Papers</h3>
                </a>
            </li>
            <li>
                <a href="/tags">
                    <h3>Tags</h3>
                </a>
            </li>
            <li>
                <a href="/archive">
                    <h3>Archive</h3>
                </a>
            </li>
            <li>
                <a href="/rss.xml">
                    <h3>Feed</h3>
                </a>
            </li>
        </ul>
    </section>

</section>
