{% import "macros.html" as macros %}

<!DOCTYPE HTML>
<html>
    <head>
        {% include "head.html" %}
        {% if page.extra.katex %}
            {% include "katex.html" %}
        {% endif %}
    </head>
    <body class="single">
        <!-- Wrapper -->
        <div id="wrapper">

            {% include "header.html" %}

            {% include "menu.html" %}

            <!-- Main -->
            <div id="main">
                {% block content %}
                <article class="post">
                    {{ macros::title(page=page) }}
                    <span class="image featured"><img src="/images/pic01.jpg" alt="" /></span>
                    {{ page.content | safe }}
                    <footer>
                        <ul class="stats">
                            {% for tag in page.tags %}
                            <li><a href="{{ get_taxonomy_url(kind="tag", name=tag) }}">{{ tag }}</a></li>
                            {% endfor %}
                            <li><a href="#" class="icon fa-heart">28</a></li>
                            <li><a href="#" class="icon fa-comment">128</a></li>
                        </ul>
                    </footer>
                </article>

                <ul class="actions pagination">
                    <li>
                        {% if page.previous %}
                        <a href="{{ page.previous.permalink }}" class="button big previous">Newer Post</a>
                        {% else %}
                        <a href="#" class="disabled button big previous">Newest Post</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page.next %}
                        <a href="{{ page.next.permalink }}" class="button big next">Older Post</a>
                        {% else %}
                        <a href="#" class="disabled button big next">Oldest Post</a>
                        {% endif %}
                    </li>
                </ul>
                {% endblock content %}

                {% include "footer.html" %}

            </section>

        </div>

        {% include "js_body.html" %}
        {% if page.extra.katex %}
        <script src="/js/math.js"></script>
        {% endif %}
    </body>
</html>
