<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ config.description }}">
        <meta name="author" content="{{ config.extra.author.name }}">
        <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
        <link href="/main.css" rel="stylesheet">
        <!--[if lte IE 9]><link rel="stylesheet" href="/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="/ie8.css" /><![endif]-->
        <title>{{ config.title }}</title>
        {% if page.extra.katex %}
        {% include "katex.html" %}
        {% endif %}
    </head>
    <body class="single">
        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <h1><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
                <nav class="links">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Papers</a></li>
                        <li><a href="#">Archive</a></li>
                        <li><a href="rss.xml">Feed</a></li>
                    </ul>
                </nav>
                <nav class="main">
                    <ul>
                        <li class="search">
                            <a class="fa-search" href="#search">Search</a>
                            <form id="search" method="get" action="#">
                                <input type="text" name="query" placeholder="Search" />
                            </form>
                        </li>
                        <li class="menu">
                            <a class="fa-bars" href="#menu">Menu</a>
                        </li>
                    </ul>
                </nav>
            </header>

            <!-- Menu -->
            <section id="menu">

                <!-- Search -->
                <section>
                    <form class="search" method="get" action="#">
                        <input type="text" name="query" placeholder="Search" />
                    </form>
                </section>

                <!-- Links -->
                <section>
                    <ul class="links">
                        <li>
                            <a href="#">
                                <h3>Lorem ipsum</h3>
                                <p>Feugiat tempus veroeros dolor</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h3>Dolor sit amet</h3>
                                <p>Sed vitae justo condimentum</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h3>Feugiat veroeros</h3>
                                <p>Phasellus sed ultricies mi congue</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h3>Etiam sed consequat</h3>
                                <p>Porta lectus amet ultricies</p>
                            </a>
                        </li>
                    </ul>
                </section>

                <!-- Actions -->
                <section>
                    <ul class="actions vertical">
                        <li><a href="#" class="button big fit">Log In</a></li>
                    </ul>
                </section>

            </section>

            <!-- Main -->
            <div id="main">
                {% block content %}
                <article class="post">
                    <header>
                        <div class="title">
                            <h2>{{ page.title }}</h2>
                            <p>{{ page.description }}</p>
                        </div>
                        <div class="meta">
                            <time class="published" datetime="{{ page.date }}">{{ page.date | date(format="%B %e, %Y") }}</time>
                            <span class="reading">
                            Reading time:
                            {% if page.reading_time > 0 %}
                            about {{ page.reading_time }} minute{{ page.reading_time | pluralize }}
                            {% else %}
                            less than a minute
                            {% endif %}
                            ({{ page.word_count }} words).
                            </span>
                        </div>
                    </header>
                    <span class="image featured"><img src="/images/pic01.jpg" alt="" /></span>
                    {{ page.content | safe }}
                    <footer>
                        <ul class="stats">
                            <li><a href="#">{{ page.category }}</a></li>
                            <li><a href="#" class="icon fa-heart">28</a></li>
                            <li><a href="#" class="icon fa-comment">128</a></li>
                        </ul>
                    </footer>
                </article>

                <ul class="actions pagination">
                    <li>
                        {% if page.previous %}
                        <a href="{{ page.previous.permalink }}" class="button big previous">Previous Page</a>
                        {% else %}
                        <a href="#" class="disabled button big previous">Previous Page</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page.next %}
                        <a href="{{ page.next.permalink }}" class="button big next">Next Page</a>
                        {% else %}
                        <a href="#" class="disabled button big next">Next Page</a>
                        {% endif %}
                    </li>
                </ul>
                {% endblock content %}
                <!-- Footer -->
                <section id="footer">
                    <ul class="icons">
                        <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                        <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                    <p class="copyright">&copy; 2013&mdash;2017 - Tim DuBois</p>
                </section>

            </section>

        </div>

        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
        <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
        <script src="/js/main.js"></script>
        {% if page.extra.katex %}
        <script src="/js/math.js"></script>
        {% endif %}
    </body>
</html>
